# Core scientific stack
numpy
pandas
matplotlib
scikit-learn

# Visualizations
seaborn

# Deep learning
tensorflow
# tensorflow[and-cuda] older versions of windows

# Jupyter environment (if needed outside an existing Jupyter setup)
jupyter
ipykernel
